node_modules/
dist/
.env
.env.*
!.env.example
.npm-cache/
*.log

front/node_modules/
front/dist/
front/.env
front/.env.*
!front/.env.example

back/node_modules/
back/.npm-cache/
back/.env
back/.env.*
!back/.env.example
back/public/uploads/*
!back/public/uploads/.gitkeep
!back/public/uploads/.gitignore
